.about-us {
  padding-top: 13px;
  padding-bottom: 50px;
}

.about-us__title {
  margin: 0 0 4px;
}

.about-us__descr {
  margin: 0;
  margin-bottom: 10px;
  line-height: 28px;
}

.about-us__wrapper {
  background-image: url("../images/320/about-us-320.jpg");
  background-repeat: no-repeat;
  min-height: 399px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
  padding-top: 200px;
}

.about-us__text {
  margin: 0 0 9px;
}

.about-us__link {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  min-width: 162px;
  min-height: 40px;
  padding: 12px 10px;
  text-align: center;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  color: var(--accent-color);
}

.about-us__list-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 43px 48px;
  background-position: left 21px top 0;
  padding-top: 63px;
  position: relative;
}

.about-us__list-item--theme-package{
  background-image: url("../images/320/about-us-package.svg");
  margin-bottom: 26px;
}

.about-us__list-item--theme-settings{
  background-image: url("../images/320/about-us-settings.svg");
}

.about-us__list-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  width: 43px;
  height: 43px;
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: -1;
}

.about-us__item-span {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.about-us__item-text {
  margin: 0;
}
