.about-us {
	padding-top: 20px;
}

.about-us__title {
	font-size: 24px;
	font-weight: 400;
	line-height: 1;
	margin: 0;
	margin-bottom: 4px;
}

.about-us__descr {
	line-height: 28px;
	margin: 0;
	margin-bottom: 10px;
}

.about-us__col--first {
	background: url("../images/about-us.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 290px 200px;
	margin-bottom: 40px;
}

.about-us__content {
	padding-top: 210px;
}

.about-us__text {
	margin: 0;
	margin-bottom: 9px;
}

.about-us__link {
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	padding: 12px 42px;
	background-color: transparent;
	border: 2px solid var(--accent-color);
	cursor: pointer;
	color: var(--accent-color);
}

.about-us__list-item {
	background-repeat: no-repeat;
	background-size: 43px 48px;
	padding-top: 63px;
	margin-bottom: 19px;
	position: relative;
	
}

.about-us__list-item:first-child{
	background-image: url("../images/about-us-package.svg");
}

.about-us__list-item:nth-child(2){
	background-image: url("../images/about-us-settings.svg");;
}

.about-us__list-item::before {
	content: "";
	display: block;
	position: absolute;
	background-repeat: no-repeat;
	top: 0;
	width: 43px;
  height: 43px;
  background: var(--accent-color);
  border-radius: 50%;
}

.about-us__item-span {
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
}

.about-us__item-text {
	margin: 0;
}
