.header {
  position: relative;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 45px;
}

.header__logo {
  display: block;
  overflow: hidden;
}

.header__search {
  display: none;
}

.header__burger {
  margin-left: auto;
  margin-right: -8px;
}


