.hero__container {
	padding: 33px 22px 40px 23px;
}

.hero__title {
	font-size: 20px;
	font-weight: 800;
	line-height: 24px;
	margin: 0;
	text-align: center;
	margin-bottom: 7px;
}

.hero__descr {
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
	margin: 0;
	text-align: center;
	margin-bottom: 34px;
}

.hero__btn {
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	padding: 14px 29px;
	background-color: var(--accent-color);
	border: none;
	cursor: pointer;
	margin-left: 41px;
}

