.hero {
	padding-bottom: 23px;
}

.hero__container {
	padding: 33px 38px 0;
	min-height: 262px;
	background: url("../images/hero-slide-1-320.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 290px 262px;
	color: var(--bg-color);
}

.hero__title {
	font-size: 20px;
	font-weight: 800;
	line-height: 24px;
	margin: 0 0 7px;
	text-align: center;
}

.hero__descr {
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
	margin: 0;
	text-align: center;
	margin-bottom: 34px;
}

.hero__btn {
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	min-height: 40px;
	padding: 0 29px;
	background-color: var(--accent-color);
	border: none;
	cursor: pointer;
	margin-left: 41px;
	color: var(--bg-color);
}

