.hero__container {
  color: var(--bg-color);
}

.hero__slide {
  min-height: 262px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--font-color);
  transition: transform 0.3s;
}

.hero__slide--1 {
  background-image: url("../images/320/hero-slide-1-320.jpg");
}

.hero__slide--2 {
  background-image: url("../images/320/hero-slide-1-320.jpg");
}

.hero__slide--3 {
  background-image: url("../images/320/hero-slide-1-320.jpg");
}

.hero-pagination {
  display: none;
}

.hero__content {
  padding: 33px 24px;
}

.hero__title {
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  margin: 0 0 7px;
  text-align: center;
}

.hero__descr {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  margin: 0;
  text-align: center;
  margin-bottom: 34px;
}

.hero__btn {
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  min-height: 40px;
  padding: 0 29px;
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  margin-left: 41px;
  color: var(--bg-color);
}

