.how {
	padding-bottom: 41px;
}

.how__title {
	font-size: 24px;
	font-weight: 400;
	line-height: 1;
	margin: 0 0 31px;
}

.how__tab-list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.how__tab-link {
	display: inline-block;
	min-height: 100%;
	border: none;
	background: transparent;
	padding:0;
}

.how__img {
	display: inline-block;
	height: 160px;
	margin-bottom: 5px;
}

.how__tab-heading {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 6px;
}

.how__tab-descr {
	margin: 0 0 20px;
}

.how__tab-props {
	display: flex;
	justify-content: space-between;
}

.how__details-link {
	display: inline-block;
	min-height: 40px;
	min-width: 162px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	padding: 13px 10px;
	background-color: var(--accent-color);
	border: none;
	cursor: pointer;
	color: var(--bg-color);
}

.how__contract-link {
	display: inline-block;
	min-height: 40px;
	min-width: 118px;
	font-size: 12px;
	font-weight: 400;
	line-height: 1;
	padding: 13px 10px;
	text-align: center;
	background-color: transparent;
	border: 1px solid var(--font-color);
	cursor: pointer;
	color: var(--font-color);
}
