@import 'normalize.css';
@import 'fonts.css';
@import 'variables.css';
@import 'styles.css';
@import 'section-title.css';
@import 'btn.css';
@import 'menu.css';
@import 'burger.css';
@import 'header.css';
@import 'hero.css';
@import 'about-us.css';
@import 'how.css';
@import 'tabs.css';
@import 'questions.css';
@import 'accordion.css';
@import 'footer.css';
@import 'socials.css';
@import 'media.css';
