@media (min-width: 768px) {
  .container {
    width: 668px;
    padding: 0;
  }

  .header__container {
    min-height: 69px;
    justify-content: space-between
  }

  .header__search {
    display: block;
    margin-right: -19px;
    padding: 0;
    background-image: url("../images/320/search.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: none;
  }

  .header__burger {
    order: -1;
    width: 46px;
    margin-left: -9px;
  }

/* HERO */
  .hero__container {
    width: 768px;
  }

  .hero__slider {
    padding: 0;
  }

  .hero__slide--1 {
    background-image: url("../images/768/hero-slide-1-768.jpg");
  }

  .hero__slide--2 {
    background-image: url("../images/768/hero-slide-1-768.jpg");
  }

  .hero__slide--3 {
    background-image: url("../images/768/hero-slide-1-768.jpg");
  }

  .hero-pagination {
    display: inline-block;
  }

  .hero__content {
    min-height: 699px;
    padding-top: 194px;
    padding-right: 20px;
    padding-bottom: 114px;
    padding-left: 50px;
  }

  .hero__title {
    font-size: 60px;
    line-height: 73px;
    text-align: left;
    min-width: 697px;
  }

  .hero__descr {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-bottom: 110px;
    width: 100%;
  }

  .hero__btn {
    font-size: 24px;
    min-height: 80px;
    margin: 0;
    padding: 0 38px;
  }

/* ABOUT-US */
  .about-us {
    padding-top: 67px;
    padding-bottom: 67px;
  }

  .section-title {
    font-size: 48px;
  }

  .about-us__title {
    margin: 0 0 28px;
  }

  .about-us__descr {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 59px;
  }

  .about-us__wrapper {
    background-image: url("../images/768/about-us-768.jpg");
    background-color: var(--font-color);
    background-size: cover;
    min-height: 650px;
    padding-top: 0;
  }

  .about-us__content {
    position: relative;
    width: 100%;
    display: flex;
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    color: var(--bg-color);
    align-items: center;
  }

  .about-us__content::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .about-us__text {
    position: relative;
    width: 401px;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
  }

  .about-us__link {
    position: relative;
    margin-left: auto;
    font-size: 16px;
    padding: 19px 35px;
    color: var(--bg-color);
    border: 3px solid var(--accent-color);
  }

  .about-us__list-item {
    padding: 37px 37px 36px 177px;
    border: 1px solid var(--footer-font-color);
  }

  .about-us__list-item--theme-package{
    background-size: 80px 88px;
    background-position: top 72px left 68px;
    margin-bottom: 40px;
  }

  .about-us__list-item--theme-settings{
    background-size: 81px 80px;
    background-position: top 69px left 67px;
  }

  .about-us__list-item::before {
    top: 84px;
    left: 30px;
    width: 79px;
    height: 79px;
  }

  .about-us__item-span {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }

  .about-us__item-text {
    margin: 0;
    font-size: 16px;
    line-height: 32px;
  }

/* HOW */
  .how {
    padding-bottom: 68px;
  }

  .how__title {
    margin: 0 0 49px;
  }

  .tabs__list {
    margin-bottom: 41px;
  }

  .tabs__btn {
    font-size: 18px;
  }

  .tabs__image-wrapper{
    margin-bottom: 44px;
  }

  .tabs__heading {
    font-size: 24px;
    font-weight: 700;
  }

  .tabs__descr {
    margin: 0 0 29px;
    font-size: 16px;
    line-height: 32px;
  }

  .tabs__details-link {
    flex: 0 1 175px;
    font-size: 16px;
    padding: 22px 10px;
    margin-right: 30px;
  }

  .tabs__contract-link {
    flex: 0 1 147px;
    font-size: 16px;
    padding: 21px 10px;
    margin-right: auto;
  }

/* QUESTIONS */
  .questions {
    padding-bottom: 54px;
  }

  .questions__title {
    line-height: 1;
    margin: 0 0 39px;
    letter-spacing: -1px;
  }

  .accordion__title {
    line-height: 32px;
    font-size: 20px;
    padding: 34px 157px 25px 0;
    font-weight: 700;
  }

  .accordion__title--second {
    padding-right: 157px;
    padding-top: 26px;
  }

  .accordion__title--third {
    padding-right: 196px;
    padding-top: 23px;
  }

  .accordion__title--fourth {
    padding-top: 24px;
  }

  .accordion__title--fifth {
    padding-top: 24px;
  }

  .accordion__title::after {
    width: 50px;
    height: 50px;
    top: 33%;
    background-size: 60%;
  }

  .accordion__text {
    font-size: 18px;
    line-height: 28px;
   }

  .accordion__content {
    min-height: 580px;
   }

/* FOOTER */

.footer {
  padding-top: 67px;
  padding-bottom: 58px;
}

  .footer__container {
    min-height: 691px;
  }

  .footer-left {
    align-self: flex-start;
  }

  .footer-left__logo-wrapper {
    margin-bottom: 16px;
  }

  .footer-left__logo-wrapper {
    width: 224px;
    height: 72px;
  }

  .socials__item {
    min-height: 60px;
  }

  .socials__item:not(:last-child) {
    margin-right: 26px;
  }

  .socials__link {
    background-size: 60px 60px;
    width: 60px;
    height: 100%;
  }

  .request {
    border-bottom: none;
    padding-bottom: 0;
  }

  .request__title {
    font-size: 48px;
    margin-bottom: 25px;
  }

  .request__form {
    width: 534px;
  }

  .request__input {
    padding-left: 24px;
    margin-bottom: 25px;
    padding-top: 4px;
  }

  .request__input::placeholder {
    font-size: 16px;
  }

  .textarea {
    padding-top: 22px;
    margin-bottom: 21px;
  }

  .request__props {
    display: flex;
    align-items: center;
  }

  .request__btn {
    font-size: 16px;
    min-height: 60px;
    min-width: 241px;
    margin: 0 10px 0 0;
  }
}

/* 1024px */

@media (min-width: 1024px) {
  .container {
    width: 924px;
  }

  .header__container {
    min-height: 100px;
  }

/* HERO */
  .hero__slide--1 {
    background-image: url("../images/1024/hero-slide-1-1024.jpg");
  }

  .hero__slide--2 {
    background-image: url("../images/1024/hero-slide-1-1024.jpg");
  }

  .hero__slide--3 {
    background-image: url("../images/1024/hero-slide-1-1024.jpg");
  }

  .hero__content {
    padding-top: 166px;
    padding-right: 98px;
    min-height: 669px;
  }

  .hero__title {
    min-width: auto;
    margin-bottom: 6px;
  }

  .hero__descr {
    margin-bottom: 109px;
  }

/* ABOUT-US */

  .about-us {
    padding-bottom: 66px;
  }

  .about-us__wrapper {
    background-image: url("../images/1024/about-us-1024.jpg");
    min-height: 640px;
    margin-bottom: 50px;
  }

  .about-us__content {
    padding-top: 38px;
    padding-left: 44px;
    padding-right: 51px;
    padding-bottom: 38px;
  }

  .about-us__text {
    width: 497px;
    line-height: 32px;
  }

  .about-us__list-item {
    padding: 68px 95px 65px 348px;
  }

  .about-us__list-item--theme-package{
    background-size: 119px 132px;
    background-position: top 75px left 170px;
    margin-bottom: 40px;
  }

  .about-us__list-item--theme-settings{
    background-size: 127px 127px;
    background-position: top 63px left 162px;
    padding-top: 68px;
  }

  .about-us__list-item::before {
    top: 92px;
    left: 111px;
    width: 120px;
    height: 120px;
  }

/* HOW */

  .tabs__list  {
    width: 469px;
    margin-bottom: 48px;
  }

  .tabs__item{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .tabs__image-wrapper{
    margin-bottom: 0;
  }

  .tabs__content-wrapper {
    width: 437px;
  }

/* QUESTIONS */

  .questions__title {
    letter-spacing: 0;
  }

  .accordion__title {
    padding: 48px 157px 41px 0;
  }

  .accordion__title--second {
    padding-right: 157px;
    padding-top: 24px;
    padding-bottom: 26px;
  }

  .accordion__title--third {
    padding-right: 196px;
    padding-top: 39px;
  }

  .accordion__title--fourth {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .accordion__title--fifth {
    padding-top: 39px;
  }

  .accordion__content {
    min-height: 450px;
   }

/* FOOTER */

  .footer {
    padding-top: 48px;
    padding-bottom: 73px;
  }

  .footer__container {
    min-height: 510px;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-left {
    margin: 0;
    align-items: flex-start;
  }

  .footer__menu {
    display: block;
    margin-bottom: 111px;
  }

  .footer__list-item:not(:last-child) {
    margin-bottom: 8px;
  }

  .footer__menu-link {
    font-size: 18px;
    font-weight: 600;
    color: var(--footer-font-color);
    line-height: 1;
  }

  .request {
    padding-top: 19px;
  }
}


/* 1920px */

@media (min-width: 1920px) {
  .container {
    width: 1770px;
  }

  .header__burger {
    display: none;
  }

  .header__nav {
    display: block;
    margin-left: auto;
  }

  .header__search {
    height: 100px;
    width: 80px;
    margin-left: 45px;
  }

  /* HERO */
  .hero {
    padding-bottom: 42px;
  }

  .hero__slide--1 {
    background-image: url("../images/1920/hero-slide-1-1920.jpg");
  }

  .hero__slide--2 {
    background-image: url("../images/1920/hero-slide-2-1920.jpg");
  }

  .hero__slide--3 {
    background-image: url("../images/1920/hero-slide-3-1920.jpg");
  }

  .hero__content {
    padding-top: 108px;
    padding-right: 763px;
    padding-left: 80px;
    padding-bottom: 20px;
    min-height: 621px;
  }

  .hero__title {
    margin-bottom: 18px;
    font-size: 70px;
    line-height: 86px;
    font-weight: 800;
  }

  .hero__descr {
    margin-bottom: 94px;
    font-size: 24px;
    line-height: 29px;
  }

/* ABOUT-US */
    .about-us {
      padding-bottom: 113px;
    }

    .about-us__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      min-height: 929px;
    }

    .about-us__title {
      margin: 0 0 24px;
      width: 100%;
    }

    .about-us__descr {
      width: 1235px;
      margin-bottom: 43px;
  }

  .about-us__wrapper {
    background-image: url("../images/1920/about-us-1920.jpg");
    min-height: 622px;
    margin-bottom: 0;
    width: 870px;
  }

  .about-us__content {
    padding-top: 40px;
    padding-left: 54px;
    padding-right: 68px;
    padding-bottom: 40px;

  }

  .about-us__list {
    width: 870px;
  }

  .about-us__list-item {
    padding: 68px 95px 65px 300px;
  }

  .about-us__list-item--theme-package{
    background-size: 119px 132px;
    background-position: top 75px left 122px;
    margin-bottom: 30px;
  }

  .about-us__list-item--theme-settings{
    background-size: 127px 127px;
    background-position: top 56px left 114px;
  }

  .about-us__list-item::before {
    top: 88px;
    left: 63px;
    width: 120px;
    height: 120px;
  }

  /* HOW */

  .how {
    padding-bottom: 109px;
    }

  .tabs__list  {
    margin-bottom: 42px;
  }

  .tabs__descr {
    width: 758px;
    margin-bottom: 59px;
  }

  .tabs__content-wrapper {
    width: 758px;
  }

  /* QUESTIONS */

  .questions {
    padding-bottom: 89px;
  }

  .accordion__title {
    padding: 42px 157px 29px 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }

  .accordion__title--second {
    padding-bottom: 42px;
  }

  .accordion__title--third {
    padding-bottom: 38px;
  }

  .accordion__title--fourth {
    padding-top: 40px;
    padding-bottom: 41px;
  }

  .accordion__title--fifth {
    padding-top: 46px;
    padding-bottom: 35px;
  }

  .accordion__content {
    width: 57%;
    min-height: 453px;
  }

   .accordion__text {
     margin: 0;
     font-weight: 400;
     font-size: 16px;
     line-height: 32px;
  }

  .accordion__text:not(:last-child) {
    margin-bottom: 32px;
  }

  /* FOOTER */

  .footer {
    padding-top: 48px;
    padding-bottom: 62px;
  }

  .footer__container {
    min-height: 519px;
  }

  .footer-left {
    width: 365px;
  }

  .footer-text {
    display: block;
    width: 363px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    padding: 0;
    margin: 80px 0 0;
  }

  .request {
    padding-top: 0;
    align-self: center;
    width: 570px;
  }

  .request__form {
    width: 100%;
  }

  .request__btn {
    margin-right: auto;
    min-width: 269px;
  }

}
