/* GLOBAL STYLES */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    margin: 0;
    min-width: 320px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: var(--font-color);
    background-color: var(--bg-color);
    overflow-x: hidden;
}

body.modal-active {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.list-reset {
  padding: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}
