:root {
  --font-color: #333333;
  --footer-font-color: #cacaca;
  --bg-color: #ffffff;
  --bg-dark-color: #222222;
  --accent-color: #ff9900;
  --light-gray-color: #ececec;
  --gray-color: #414141;
  --green-color: #97ee3f;
  --hr-color: #595959;
}
